{% extends 'base.html.twig' %}

{% block title %}Hello ArticlesController!{% endblock %}

{% block body %}
 <ul>
            {% for article in articles %}
            <li>
                {{article.id}}:{{article.description}}
            </li>
            {% endfor %}
        </ul>
{% endblock %}
